cement==3.0.2
clint==0.5.1
colorlog==4.0.2
crayons==0.2.0
esperclient==0.1.2
jinja2==2.11.3
PyYAML==5.4
requests==2.26.0
tabulate==0.8.3
tinydb==3.13.0
tqdm==4.32.1
markupsafe==2.0.1
cryptography==38.0.4

# For Secure ADB
pyOpenSSL==22.0.0
